html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

.menu {
  position: absolute;
  top: 0%;
  margin: 0;
  width: 180px;
  min-width: 100px;
  min-height: 350px;
  height: 350px;
  z-index: 30;
  border-bottom-right-radius: 15px;
  background:url('../images/woodTexture.jpg') no-repeat;
  /*opacity: 0.7;*/
  padding: 15px;
}

.buttons {
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 150px;
  height: 45px;
  display: block;
  margin-bottom: 10px;
  background:url('../images/wood-1.png') no-repeat !important;
  box-shadow: 3px 3px 3px #1a0b01;
  border: 1px solid #220d05;
  color: #dfb491;
  font-size: 0.9em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #29130a;
}

.buttons.selected {
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 150px;
  height: 45px;
  display: block;
  margin-bottom: 10px;
  background:url('../images/wood.jpg') no-repeat !important;
  box-shadow: 3px 3px 3px #1a0b01;
  border: 1px solid #220d05;
  color: #2a1007;
  font-size: 0.9em;
  font-weight: bold;
  outline: none;
/*  text-shadow: 1px 1px 1px #29130a;*/
text-shadow: none;
}



.logo{
  position: relative;
  top: -15px;
}


.rotateCursor{
  /* cursor:url("http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif"),default;*/
}
